.nav-profile{
    width: 80px; /* Adjust to your desired size */
    height: 80px; /* Ensure the height matches the width for a perfect circle */
    border-radius: 50%; /* Makes the corners fully rounded */
    overflow: hidden; /* Ensures the image fits within the circle */
    object-fit: cover; /* Ensures the image scales nicely */
    border: 2px solid #000;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px;
    box-shadow: 0pc 1px 3px -2px #000;
    margin-bottom: 1px;
    background: white;
    
}